.parentdiv{
    background-color: rgb(202, 211, 249);
}
#product1{
    text-align: center;
}
#product1 h3{
    margin: 15px 0;
    /* font-size: 16px; */
    color: rgba(1, 1, 1, 0.505);
}
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* Home CSS */

.btnSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    /* max-width: 1000px; */
}
.btnSection .btn{
    width:150px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    color: whitesmoke;
    /* color: rgba(85, 85, 85, 0.74); */
    box-shadow: 0px 0px 10px 10px rgba(82, 82, 82, 0.098);
    /* background: linear-gradient(white,rgb(249, 238, 222),rgb(255, 233, 165)); */
    background-color: rgba(2, 154, 2, 0.877);
    border: 0;
    border-radius: 4px;
}
.btnSection .btn:hover{
    /* background: linear-gradient(white,rgb(249, 238, 222),rgb(255, 233, 165)); */
    background-color: rgba(2, 133, 2, 0.877);

}
.btnSection .btn:active{
    /* background: linear-gradient(rgb(255, 235, 185),rgb(253, 245, 129),rgb(255, 251, 130)); */
    background-color: rgba(3, 193, 3, 0.877);

}
.searchbox{
    background: white;
    border: 4px white;
    border-radius: 60px;
    box-shadow: 0 0 7px 7px rgb(220, 220, 220);
    width: 80vw;
    max-width: 500px;
    padding: 15px;
    margin: 40px auto 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.searchbox input{
    width: 80%;
    background: transparent;
    color: rgba(57, 57, 57, 0.858);
    font-size:20px;
    font-weight: 600;
    border: none;
    padding-left:5px;
    
}
.searchbox input:focus{
    outline: none;
}
.searchbox input::-moz-placeholder{
    opacity: 0.8;
}
.searchbox .searchbtn{
background-color: rgba(2, 154, 2, 0.877);
color: whitesmoke;
font-size: 18px;
font-weight: 600;
padding: 10px 15px;
border-radius: 25px;
border: none;
}

.searchbtn:active{
    background-color: rgba(3, 193, 3, 0.877);
}
.searchbtn:disabled{
    background-color: rgb(173, 254, 173);
    
}

/* .searchbox i {
    width: 10%;
}
.searchbox i img{
    box-shadow: 0 0 -4px -4px rgb(194, 194, 194);
    border-radius: 5px;
}
.searchbox i img:active{
    box-shadow: 0 0 4px 4px rgb(231, 231, 231);
} */